{{ define "main" }}
  <article class="koan-single">
    <div class="koan-header">
      <h1 class="koan-title">{{ .Title }}</h1>
      
      {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
      {{ $dateHuman := .Date | time.Format ":date_long" }}
      <time datetime="{{ $dateMachine }}" class="koan-date">{{ $dateHuman }}</time>
      {{ with .Params.image }}
        <img class="koan-image" src="{{ . | relURL }}" alt="{{ $.Title }}">
      {{ end }}
    </div>
    
    <div class="koan-content">
      {{ .Content }}
    </div>
    
    {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
  </article>
  
{{ end }}