{{ define "main" }}
<article class="mx-auto max-w-3xl px-6 py-10">
  {{ if ne .Params.show_title false }}
  <header><h1>{{ .Title }}</h1></header>
  {{ end }}
  <div class="content">
    {{ .Content }}
  </div>
  {{ if ne .Params.show_nav false }}
  <nav class="mt-10 flex justify-between">
    <div>
      {{ with .PrevInSection }}<a href="{{ .RelPermalink }}">{{ .Title }} ◀</a>{{ end }}
    </div>
    <div>
      {{ with .NextInSection }}<a href="{{ .RelPermalink }}">▶ {{ .Title }}</a>{{ end }}
    </div>
  </nav>
  {{ end }}
</article>
{{ end }}
